table {
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
    background-color: rgba(255, 162, 0, 0.051);
    font-size: 17px;
  }

td, th {
    border: 1px dotted black;
}

tr:hover {
    background-color: rgba(255, 136, 0, 0.642);
}

th {
    background-color: rgba(255, 136, 0, 0.642);
}

h1 {
    background-color: rgba(255, 136, 0, 1);
    font-weight: bolder;
    text-align: center;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    top: 0x;
}

h2 {
    background-color: rgba(255, 136, 0, 0.733);
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    font-size: 17px;
}

.olcss {
    color: rgb(212, 212, 212);
    line-height: 24.5px;
    background-color: rgb(17, 17, 17);
    font-size: 15px;
    font-weight: 600;
    word-spacing: 1px;
    text-align: left;
    box-shadow: 11px;
}